.metadata
/temp
/data
/licenses
/log
/bin/custom/ee/eecore/hmc/bin/
bin/custom/eeiifclient/bin/
bin/platform/
bin/ext-atdd/
bin/ext-atddtests/
bin/ext-backoffice/
bin/ext-cockpit/
bin/ext-deprecated/
bin/ext-eventtracking/
bin/ext-incubator/
bin/ext-integration/
bin/ext-print/
bin/ext-supportability/
bin/ext-hybris/
bin/ext-accelerator/
bin/ext-addon/
bin/ext-channel/
bin/ext-commerce/
bin/ext-content/
bin/ext-data/
bin/ext-platform/
bin/ext-platform-optional/
bin/ext-platform-backoffice/
bin/custom/.idea/workspace.xml
.svn
build.xml
classes
instrumented
extensioninfo.xsd
gensrc
platformhome.properties
items.xsd
hmc.xsd
eclipsebin
testclasses
*.log
*.log.*
RemoteSystemsTempFiles
ext-template
beans.xsd
*-testclasses.xml
/config/solr/embedded/conf/ydata/y_synonyms_de.txt
/config/solr/embedded/conf/ydata/y_synonyms_en.txt
/config/solr/embedded/conf/ydata/y_synonyms_zh.txt
/config/solr/embedded/conf/ydata/y_stopwords_en.txt
/config/solr/instances/default
*ruleset.xml
/tools/mock-iif/build/classes/
/tools/swagger-codegen/generated-code/
/tools/swagger-codegen/target/
/tools/swagger-codegen/local.properties
tools/swagger-codegen/swagger-output.properties
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
bin/custom/eeiifclient/resources/tcc/httpproxyfile
bin/custom/eeiifclient/resources/tcc/generated-code/
rebel.xml
config/local*.properties
bin/custom/ee/eestorefront/web/webroot/_ui/responsive/theme-ee/css/*.css
bin/custom/ee/eestorefront/web/webroot/_ui/responsive/theme-ee/.sass-cache
bin/custom/ee/eestorefront/web/webroot/_ui/responsive/theme-ee/compass_app_log.txt
workspace.xml
checkstyle-idea.xml
hmc/bin/*hmc.jar
*hmc.jar
bin/custom/eereevoo/hmc/bin/eereevoohmc.jar
bin/custom/ee/eecore/src/uk/co/ee/shop/core/daos/CsOrderDao.java
/bin/custom/ee/eestorefront/.checkstyle
tools/data-loader/target
.DS_Store
.DS_Store?
*.iml
.idea
*.idea
tools/mock-cinergy/.settings/
tools/mock-catalog/.settings/
bin/custom/eewebservices/.settings/
bin/custom/ee/eestorefront/web/webroot/_ui/responsive/compressed/
bin/custom/ee/eeorders/web/webroot/_ui/desktop/compressed/
bin/custom/ee/eeorders/web/webroot/_ui/desktop/common/css/order-management-styles.css
findbugs.xml
pmd.xml
cpd.xml
order-management-styles.css
*.bak
tools/mock-iif/build/mock-iif.war
bin/custom/ee/eefacades/despatchemail.vm
bin/custom/ee/eefacades/testsrc/uk/co/ee/shop/templates/EmailTemplateTest.java
tools/batchtester/.settings/org.eclipse.core.resources.prefs
tools/batchtester/.settings/org.eclipse.jdt.core.prefs
tools/batchtester/.settings/org.eclipse.m2e.core.prefs
tools/batchtester/.classpath
tools/batchtester/.project
tools/batchtester/target/loader-1.0-SNAPSHOT-jar-with-dependencies.jar
*-webtestclasses.xml
**/uninstrumented_classes
bin/custom/eefeaturetoggle/.project
/.recommenders/
